version: 2
jobs:
  build:
    docker:
      - image: cimg/go:1.24.1
    working_directory: /go/src/github.com/appoptics/appoptics-api-go
    steps:
      - checkout

      - run:
          name: "Unit Tests"
          command: |
            make test
